<h1>Profile</h1>

<div data-role="navbar">
	<ul>
		<li><%= link_to "Edit",  edit_profile_path(@profile) %></li>
	</ul>
</div>

<ul data-role="listview" data-inset="true">
	<li data-role="list-divider">First name</li>
	<li><%= @profile.firstname %></li>
	<li data-role="list-divider">Last name</li>
	<li><%= @profile.lastname %></li>
	<li data-role="list-divider">Email</li>
	<li><%= @profile.email %></li>
</ul>
