<h1>Listing Work Requests</h1>

<div data-role="navbar">
    <ul>
        <li><%= link_to 'New Work request', new_work_request_path %></li>
    </ul>
</div>

<ul data-role="listview" data-inset="true" >
    <% @work_requests.each do |work_request| %>
    <li><%= link_to work_request.title, work_request, :data=>{:ajax=>"false"} %></li>
    <% end %>
</ul>