<div data-role="navbar">
	<ul>
		<li><%= link_to "Edit", edit_company_path(@company), :data=>{:icon=>"edit"} %></li>
		<li><%= link_to "List", companies_path, :data=>{:icon=>"grid"} %></li>

	</ul>
</div>
<ul data-role="listview" data-inset="true">
	<li data-role="list-divider">Name</li>
	<li><%= @company.name %></li>
	<li data-role="list-divider">Members</li>
	<% @company.profiles.each do |profile|%>
	<li><%= profile.firstname + " " + profile.lastname %></li>
	<% end %>
</ul>

